<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="tests" connectionString="EowQSt/gRgsEQeDu4YJ0lgsZ3mZ4mvmWhCI8MS3seWmYp2oKYDhqB/5Y3xAnrOIruM5g2VdAwqHvsP8eXrypo5vYf0Qz50rQz3eqLgc4rXrPsWVTK+O+
         JFwll7GlxgeDwozqFicdWWIoCUoJN0V4lTGd1s8hj0g2z+sMmjsy1tP5ovSGGiBUCW/nUE9aWLnXgheSj+nc8EXb7+QItI+kmY24Algau8fehzU9e+0JPiNPRyKpUxPQw/IcSWg6at+/" />
  </connectionStrings>
</configuration>
